<div class="clean_page">
    <div id="doc_nav" class='side_nav'>
        <ul>
        </ul>
    </div>
    <div class="documentation">

        <div class="doc" id="ranking_structure">
            <div class="edit_date">Sat Feb 2 2019</div>
            <h2 class="doc_title">Ranking structure</h2>
            <b>This is the current social structure of Moderari Empire</b>
            <p>
                As you can see it is split in layers with the 4th layer being the highest one.
                Each layer has different people who behave better the higher you get.
                The 1st layer is the most chaotic and filled with the (dirty) people of
                the empire.
            </p>
            <img src="/images/Layer structure.svg" alt="Layer structure" class="layer-structure">
        </div>

        <div class="doc" id="laws">
            <div class="edit_date">Sat Feb 2 2019</div>
            <h2 class="doc_title">Laws</h2>
            <b>Comming soon</b>
            {{!-- <img src="/images/Layer structure.jpg" alt="Layer structure"> --}}
        </div>

    </div>
</div>
<script src="/js/documentation.js"></script>
