<div class="clean_page">
<div class='side_nav'>
    <ul>
        <a href="#"><li>comming</li></a>
        <a href="#"><li>soon..</li></a>
    </ul>
</div>
<div class="documentation">
    <b>This currently is the social structure of Moderari Empire</b>
    <img src="/images/Layer structure.jpg" alt="Layer structure">
</div>
</div>
<script src="/js/documentation.js"></script>