<main>
    <h1 class="index-title">Welcome to Moderari!</h1>
    <p class="index-info">
        Moderari Empire is a Discord Community, but unlike any other.. <br><br>
        The Moderari Empire is much like a real society with a hint of dictatorship.
        By doing good things (following rules, contributing to the community) you'll achieve a higher social status, with a possible rank/role.
        However, doing bad things (Being a dick, cursing at our beloved leader) will lead to you being spat at and trashed by the community.
        The server has multiple layers to indicate the good, the bad, and the better. Being good will allow you to go up to a higher layer.
        Each layer has new perks and new people. By reaching the second layer you'll get access to some of the community gaming servers (MC, GMod, etc).
    </p>
    <a href="/documentation">More information</a>
    <br>
    <span id="system_stats">
        <h1>System Status</h1>
        <h2>Uptime: <span id="system_uptime"></span></h2>
        <h2>Memory: <span id="system_memory"></span></h2>
        <h2>CPU Cores: <span id="system_cores"></span></h2>

    </span>
    <script src="/js/system.js"></script>
</main>
