<main>
    {{#if user.is_admin}}
    <div class="news_block">
        <form method="post" action="/data/news">
            <label for="categories">Categories (web database bot important random)</label>
            <input type="text" name="categories" placeholder="Categories">

            <label for="title">Title</label>
            <input type="text" name="title" placeholder="Title" required>

            <label for="description">Description</label>
            <textarea name="description" placeholder="Description" id="" cols="30" rows="10" required></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="news_block">
        <form method="post" action="/data/news/delete">
            <label for="delete_news">Delete news article</label>
            <select name="delete_news" id="delete_news">
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    {{/if}}
</main>